$titleSize: 57px;
$titleColor: #e4e7f2;

body{
	margin: 0;
}

.container{
	position: relative;
    text-align: center;

   .mainImage{ 
    width: 100%;
    object-fit: contain;
    align-self: center;
	}

	.title{
	position: absolute;
	left: 33%;
	top: 20px;
	font-size: $titleSize;
	color: $titleColor;
	} 
}

